body{
	height: 100%;
	
	/*background-color: #FC9D9A;*/
}

body *{
  color: #555555;
  font-family: 'Lato', sans-serif;
}

*::selection {
  background: #FF6796;/*pink*/ /* WebKit/Blink Browsers */ /*pink*/
}
*::-moz-selection {
  background: #FF6796;/*pink*/ /* Gecko Browsers */
}

h1{
	font-size: 50px;
	font-style: italic;
	font-weight: 300;
}

h2{
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
}

h3{
	font-style: italic;
	font-weight: 300;
	font-size: 30px;
}

h4{
	font-weight: 500;
	font-style: italic;
	font-size: 20px;
}


p{
	font-size: 16px;
	font-style: italic;
	letter-spacing: 0.25px;	
}

.center{
	text-align: center;
}


.btn-outline{
	background-color: white;
	width: 200px;
	padding: 5px 0;
	outline: none;
	border: 2px solid #555555; /*grey*/
	font-weight: bold;
	border-radius: 5px;
	/*color: black;*/
}

.btn-outline:hover{
	background-color: #FF6796;/*pink*/
}




.social-media{
	position: fixed;
	top: 5%;
	z-index: 1000;
}

.social-media li{
	list-style: none;
	text-align: center;
	padding: 10px;
}


header{
	/*background-color: hotpink;*/
	background-color: rgba(255,255,255,0.9); /*white*/
	padding-top: 50px;
	position: fixed;
	width: 100%;
	z-index: 500;
}


header ul{
	list-style: none;
	/*position: fixed;*/
}

header li{
	display: inline-block;
	font-size: 20px;
	padding: 10px;
	font-weight: 300;
	font-style: italic;
	cursor: pointer;
	
}

/*header a{
	
}*/

/*header a:hover{
	text-decoration: none;
}*/

.book-row{
	padding: 20px 0;
	/*height: 100%;*/
	/*background-color: lightblue;*/
}

.book-row > div{
	/*height: 100%;*/
	margin: 50px 0;
}

.book-row h1{
	margin-bottom: 20px;
}

.book-row p{
	margin-bottom: 15px;
}

.cover-image{
	margin-top: 20px;
}

.book-info{
	margin-top: 140px;
}





.info-row{
	background-color: #909494; /*light grey*/
	/*height: 300px;*/
}

.info-row > div{
	/*padding: 80px 0;*/
	padding: 35px 0;

}

.info-row > div h2{
	margin-bottom: 30px;
}



.author-row{
	margin-top: 60px;
	margin-bottom: 60px;
}

.author-row h2{
	margin-bottom: 30px;
}

.author-row .meet-michele > div{
	text-align: right;
}

.author-row .meet-michele img{
	/*padding: 0;*/
	margin-top: 40px;
	margin-bottom: 40px;
}

.author-row .meet-michele h3{
	margin-top: 25%;
}



/*page divider*/
.divider > div{
	height: 1px;
	border: 1px solid #909494;
	/*margin-top: 40px;*/
	/*margin-bottom: 40px;*/
}




.icon-container{
	margin: 60px auto;
	/*background-color: lightgrey*/
}

.icon-container h2{
	margin-bottom: 50px;
}

.icon-row{
	margin-bottom: 50px;
}

.icon-row span{
	font-size: 100px;
	color: #FF6796;
}

.icon-row > div > div{
	width: 50px;
	/*height: 1px;*/
	border-bottom: 2px solid #FF6796;
	margin: 10px auto;
}


.icon-row p:first-child{
	margin-bottom: 30px;
	/*padding: 0 150px;*/
}


footer{
	background-color: #FF6796; /*pink*/
	/*height: 500px;*/
	padding-top: 100px;
}



footer h1{
	margin-bottom: 30px;
}

footer h3{
	/*margin-bottom: 30px;*/
}

footer .buttons{
	margin-bottom: 40px;
}



footer p{
	margin-top: 70px;
}

footer .footer-media > a{
	padding: 10px;
}

footer h4{
	margin-bottom: 25px;
}




.modal-header{
	background-color: #FF6796; 
}

.modal-header > .close{
	color: #555555;
}

.modal-title{
	/*margin-left: 30px;*/
	text-align: center;
}

.sign-up-modal .modal-body{
	padding: 70px 0;
}

.modal-body input{
	width: 70%;
}

.modal-content{
	margin-top: 150px;
}

.sign-up-modal .form-group:nth-child(2){
	margin-bottom: 40px;
}




/*mobile and port tablet*/
@media screen and (max-width: 768px) {

    header{
  	  display: none;
    }

    .book-row{
		display: flex;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		flex-direction:column-reverse;
		-webkit-flex-direction: column-reverse;
    }

	.social-media{
		top: 0;
		width: 100%;
		background-color: rgba(255,255,255,0.9);
	}

	.social-media ul{
		width: 200px;
		margin: 0 auto;
	}

	.social-media li{
		float: left;
	}

	.book-info{
		margin-top: 20px;
		text-align: center;
	}

	.book-row > div{
		/*height: 100%;*/
		margin: 70px 0 30px 0;
	}


	.info-row{
		/*padding: 80px 0;*/
		padding: 20px 80px;

	}


	.author-row{
		margin: 40px 0;
	}

	.author-row h2{
		margin-bottom: 0;
	}



	.author-row .meet-michele{
	    display: flex;
		display: -webkit-flex;
	    display: -moz-box;
	    display: -ms-flexbox;
		flex-direction:column-reverse;
		-webkit-flex-direction: column-reverse;
	}

	.author-row .meet-michele > div{
		text-align: center;
		padding: 0 50px;
	}

	.author-row .meet-michele h3{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.author-row .meet-michele p{
		padding: 0 50px;
		margin-bottom: 30px;
	}


	.icon-row > div{
		margin-bottom: 40px;
	}

	.icon-row > div p:last-child{
		padding: 20px 30%;
	}
   
}




@media screen and (max-width: 420px) {



  .btn-outline{
  	margin-bottom: 20px;
  }

  .book-info p{
  	margin-bottom: 20px;
  }



.modal-body{
	/*text-align: center;*/
	/*margin: 0 auto;*/
	margin-left: 40px;
	/*padding: 0;*/
}

.modal-content{
	margin-top: 50px;
}

}